attrs==20.3.0
Automat==20.2.0
blessed==1.17.6
click==7.1.2
Codado==0.7.6
constantly==15.1.0
Crosscap==0.4.9
ftfy==5.8
future==0.18.2
Hacenada==0.0.1+dev
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
inquirer==2.7.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mock==4.0.3
PyHamcrest==2.0.2
PyJWT==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
PyYAML==5.3.1
readchar==2.0.1
six==1.15.0
Twisted==20.3.0
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.2.0
