attrs==20.3.0
Automat==20.2.0
click==7.1.2
Codado==0.8.0
constantly==15.1.0
Crosscap==0.4.9
ftfy==5.8
future==0.18.2
Hacenada==0.0.1+dev
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mock==4.0.3
prompt-toolkit==1.0.14
Pygments==2.7.3
PyHamcrest==2.0.2
PyInquirer==1.0.3
PyJWT==2.0.0
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
six==1.15.0
toml==0.10.2
Twisted==20.3.0
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.2.0
